/* --------RESETEO CSS-------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto condensed", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

p:not(.copyright) {
  font-size: 1.3rem;
  line-height: 2rem;
}

/*Paleta de colores*/
.header {
  background-color: #d90429;
  position: fixed;
  width: 100%;
  top: 0px;
  min-height: 80px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  color: #edf2f4;
  border-bottom: 10px solid #2b2d42;
}
.header-title {
  text-align: center;
  font-family: "Climate Crisis", cursive;
  font-size: 1.6rem;
}
.header-burger {
  width: 30px;
  cursor: pointer;
}

/* --------TABLETS-------- */
@media (min-width: 600px) and (max-width: 1199px) {
  .header {
    border-bottom: none;
    justify-content: center;
    padding: 0;
  }
  .header-burger {
    display: none;
  }
  .header-title {
    font-size: 2rem;
    padding-bottom: 10px;
  }
}
/* --------DESKTOP-------- */
@media (min-width: 1200px) {
  .header {
    border-bottom: none;
    justify-content: center;
    padding: 0;
  }
  .header-burger {
    display: none;
  }
  .header-title {
    font-size: 2.5rem;
    padding-bottom: 20px;
  }
}
.nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 15;
  display: none;
}
.nav-list {
  display: flex;
  gap: 0;
}
.nav-list-item {
  border: 1px solid black;
  width: 20%;
  text-align: center;
  background-color: #2b2d42;
}
.nav-list-item:hover {
  background-color: #8d99ae;
  border-color: #edf2f4;
  color: #2b2d42;
}
.nav-list-item a {
  text-decoration: none;
  color: #edf2f4;
  font-size: 0.8rem;
  display: block;
}

@media (min-width: 600px) and (max-width: 1199px) {
  .nav {
    display: block;
  }
}
/* --------DESKTOP-------- */
@media (min-width: 1200px) {
  .nav {
    display: block;
  }
}
.mobile-nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #2b2d42;
  z-index: -5;
  border: 2px solid #edf2f4;
  opacity: 0;
  transition: opacity 1s;
}
.mobile-nav .logo-ball {
  width: 40px;
  position: absolute;
  left: 50px;
  top: 50px;
  animation-name: pelota-menu;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in;
}
.mobile-nav-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-nav-list-item {
  padding: 1.5em;
  color: #edf2f4;
}
.mobile-nav-list-item a {
  color: #edf2f4;
  font-weight: 700;
}
.mobile-nav-list-item a:hover {
  border-bottom: 1px solid #d90429;
  color: #fff;
  background-color: #14151e;
  transition: 1s;
}
.mobile-nav-cierre {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
  padding-right: 70px;
  cursor: pointer;
}
.mobile-nav-cierre img {
  width: 30px;
  margin: 20px;
}

/* --------INFO SECCION-------- */
.about {
  height: 80px;
  margin-top: 150px;
}
.about h2, .about p {
  text-align: center;
}
.about-form {
  height: 200px;
  margin-top: 150px;
  margin-bottom: 20px;
}
.about-form h2, .about-form p {
  text-align: center;
}

/* --------DIVISOR-------- */
.separador {
  position: relative;
  width: 50%;
  left: 25%;
  border-bottom: 2px solid #d90429;
  margin-bottom: 50px;
  margin-top: 50px;
}

.copyright {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #000000;
  color: #edf2f4;
  padding: 0 0.2em;
}

.footer {
  background-color: #2b2d42;
  border-top: 2px solid #ef233c;
  min-height: 100px;
  width: 100%;
}
.footer-section-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-section-list .footer-content {
  padding: 0.8em;
}
.footer-section-list .footer-content .logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-section-list .footer-content .logo-container .logo-ball {
  width: 50px;
  text-align: center;
  animation-name: pelota-logo;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.footer-section-list .footer-content .logo-container .logo-name {
  color: #edf2f4;
  font-family: "Climate Crisis", cursive;
}
.footer-section-list .footer-content .social-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer-section-list .footer-content .social-list .social-icon {
  width: 36px;
}
.footer-section-list .footer-content .newsletter {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
}
.footer-section-list .footer-content .newsletter input {
  width: 50%;
}
.footer-section-list .footer-content .newsletter .email-label {
  color: #edf2f4;
  text-align: center;
}

/* --------TABLETS-------- */
@media (min-width: 600px) and (max-width: 1199px) {
  .footer-section-list {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .footer-section-list .footer-content .newsletter {
    padding: 0;
  }
  .footer-section-list .footer-content .newsletter input {
    width: 100%;
  }
  .social-list li {
    padding: 0.8em;
  }
}
/* --------DESKTOP-------- */
@media (min-width: 1200px) {
  .footer-section-list {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .footer-section-list .footer-content .newsletter input {
    width: 100%;
  }
  .social-list li {
    padding: 0.8em;
  }
}
.noticias-contenedor h2 {
  text-align: center;
}

.noticias {
  display: flex;
  flex-direction: column;
}
.noticias .article-box-outer {
  display: inline-block;
  margin: 20px;
  border: 1px solid #d90429;
  border-top: 2px solid #ef233c;
}
.noticias .article-box-outer a {
  text-decoration: none;
  color: #2b2d42;
}
.noticias .article-box-outer a h3 {
  padding: 0.8em 0;
}
.noticias .article-box-outer .article-box-inner {
  position: relative;
}
.noticias .article-box-outer .article-box-inner .article-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 80% 10%;
}

/* --------TABLETS-------- */
@media (min-width: 600px) and (max-width: 1199px) {
  .noticias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
/* --------DESKTOP-------- */
@media (min-width: 1200px) {
  .noticias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
/* --------HISTORIA DE LA LIGA-------- */
.historia-liga {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  gap: 20px;
}
.historia-liga h3 {
  align-self: center;
}
.historia-liga p {
  padding: 1em 0;
}
.historia-liga figure {
  position: relative;
}
.historia-liga img {
  width: 100%;
}

/* --------TABLETS-------- */
@media (min-width: 600px) {
  .historia-liga figure {
    width: 80%;
    height: 350px;
  }
  .historia-liga figure .cropped {
    height: 100%;
    object-fit: cover;
    object-position: 0 0px;
  }
}
/* --------DESKTOP-------- */
@media (min-width: 1200px) {
  .historia-liga {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 10px;
  }
  .historia-liga h3 {
    grid-column: 1/3;
    text-align: center;
  }
  .historia-liga p:not(.copyright) {
    padding: 0 1em;
  }
  .historia-liga figure {
    width: 100%;
    height: 350px;
  }
  .historia-liga figure .cropped {
    height: 100%;
    object-fit: cover;
    object-position: 0 0px;
  }
  .historia-liga .bird {
    height: 450px;
  }
}
/* --------CONFERENCIAS-------- */
.equipos-title {
  text-align: center;
}

.team-logo {
  width: 100px;
  text-align: center;
}

.east {
  position: relative;
}
.east h3 {
  text-align: center;
  padding: 1em 0;
}
.east section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  padding: 2em 0;
  row-gap: 1em;
  margin-bottom: 3em;
}
.east section article {
  position: relative;
}

.heat {
  width: 200px;
}

.west h3 {
  text-align: center;
  padding: 1em 0;
}
.west section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  padding: 2em 0;
  row-gap: 1em;
  margin-bottom: 3em;
}
.west section article {
  position: relative;
}

.contenedor-info {
  height: 100vh;
  width: 100vw;
  background-color: rgba(43, 45, 66, 0.8666666667);
  display: inline-block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -5;
  opacity: 0;
  transition: opacity 0.4s;
  padding: 30px;
  display: flex;
  justify-content: end;
  align-items: start;
}
.contenedor-info .contenedor-info-inner {
  position: absolute;
  height: 60%;
  width: 60%;
  background-color: #d90429;
  left: 20%;
  top: 20%;
  border: 2px solid #edf2f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-info .contenedor-info-cierre {
  width: 30px;
}

.contenedor-info-estilo {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contenedor-info-estilo .info-hawks, .contenedor-info-estilo .info-celtics, .contenedor-info-estilo .info-bulls, .contenedor-info-estilo .info-cavs, .contenedor-info-estilo .info-pistons, .contenedor-info-estilo .info-pacers, .contenedor-info-estilo .info-heat, .contenedor-info-estilo .info-bucks, .contenedor-info-estilo .info-hornets, .contenedor-info-estilo .info-knicks, .contenedor-info-estilo .info-nets, .contenedor-info-estilo .info-raptors, .contenedor-info-estilo .info-sixers, .contenedor-info-estilo .info-wizards, .contenedor-info-estilo .info-magic, .contenedor-info-estilo .info-blazers, .contenedor-info-estilo .info-clippers, .contenedor-info-estilo .info-kings, .contenedor-info-estilo .info-grizzlies, .contenedor-info-estilo .info-jazz, .contenedor-info-estilo .info-lakers, .contenedor-info-estilo .info-mavs, .contenedor-info-estilo .info-nuggets, .contenedor-info-estilo .info-pelicans, .contenedor-info-estilo .info-rockets, .contenedor-info-estilo .info-spurs, .contenedor-info-estilo .info-suns, .contenedor-info-estilo .info-thunder, .contenedor-info-estilo .info-warriors, .contenedor-info-estilo .info-wolves {
  width: 100%;
  padding: 5px;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba(237, 242, 244, 0.9333333333);
  color: #000000;
  font-weight: 800;
}
.contenedor-info-estilo .team__info h4 {
  text-align: center;
  padding: 10px;
  font-size: 1.1rem;
}
.contenedor-info-estilo .team__info p {
  font-size: 1.05rem;
}

.team__info {
  width: 150px;
  height: auto;
  background-color: #2b2d42;
  border: solid 1px #d90429;
  color: #edf2f4;
  position: absolute;
  z-index: 5;
  top: 130px;
  left: -20px;
  display: none;
}

/* --------MOBILE-------- */
@media (max-width: 599px) {
  .east section article figure, .west section article figure {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    width: 100%;
    align-items: center;
  }
}
/* --------TABLETS-------- */
@media (min-width: 600px) and (max-width: 1199px) {
  .east section, .west section {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* --------DESKTOP-------- */
@media (min-width: 1200px) {
  .east section, .west section {
    grid-template-columns: repeat(4, 1fr);
  }
}
.estrellas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
.estrellas article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  width: 100%;
}
.estrellas article h3 {
  padding: 0.5em;
}
.estrellas article iframe {
  width: 100%;
  height: 250px;
}
.estrellas article p {
  padding: 0.5em;
}

/* --------TABLETS-------- */
@media (min-width: 600px) and (max-width: 1199px) {
  .estrellas article iframe {
    height: 400px;
  }
}
/* --------DESKTOP-------- */
@media (min-width: 1200px) {
  .estrellas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .estrellas article {
    justify-content: space-between;
    height: 100%;
  }
}
.cuadro-titulo h2, .contenedor-playoff {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 1em;
}

.cuadro {
  width: 100%;
}

.tabla-posiciones {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 75px;
  padding: 1em;
}
.tabla-posiciones article {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1em 0;
}
.tabla-posiciones thead {
  background-color: #8d99ae;
}
.tabla-posiciones th {
  background-color: #d90429;
  border: 2px solid #2b2d42;
  color: #edf2f4;
}
.tabla-posiciones tr {
  background-color: #2b2d42;
  color: #edf2f4;
}
.tabla-posiciones tr:nth-child(even) {
  background-color: #edf2f4;
  color: #2b2d42;
}

/* --------DESKTOP-------- */
@media (min-width: 1200px) {
  .tabla-posiciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
}
.about-form {
  margin-bottom: 8em;
}
.about-form p {
  padding: 0.5em 1em;
}

.formulario form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.formulario form fieldset {
  width: 100%;
  display: flex;
  border: none;
  justify-content: space-between;
  padding: 1em;
}
.formulario input {
  width: 200px;
  text-align: right;
}

.submit input {
  width: 100%;
  text-align: center;
  background-color: #2b2d42;
  color: #edf2f4;
  border: 1px solid #d90429;
}
.submit input:hover {
  background-color: #14151e;
}

.text-area textarea {
  width: 100%;
  resize: none;
}

.asunto select {
  width: 200px;
  text-align: right;
}

/* --------TABLETS-------- */
@media (min-width: 600px) and (max-width: 1199px) {
  .formulario form fieldset {
    width: 55%;
  }
}
/* --------DESKTOP-------- */
@media (min-width: 1200px) {
  .formulario form fieldset {
    width: 30%;
  }
}
.main__noticia {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.main__noticia article {
  display: flex;
  flex-direction: column;
}
.main__noticia article figure {
  position: relative;
}
.main__noticia article img {
  width: 100%;
}
.main__noticia article p:not(.copyright) {
  padding: 1.5em 0;
}
.main__noticia article h3 {
  padding: 1em 0;
}

@media (min-width: 600px) and (max-width: 1199px) {
  .main__noticia article figure {
    width: 75%;
    height: 450px;
    margin-left: 12.5%;
  }
  .main__noticia article figure img {
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
  }
}
.seccion-ultimas-noticias h2 {
  text-align: center;
  border-bottom: 2px solid #d90429;
  margin-bottom: 10px;
}
.seccion-ultimas-noticias .ultimas-noticias {
  display: flex;
  width: 100%;
  padding: 0 10px;
  justify-content: start;
  align-items: start;
  overflow-x: scroll;
  white-space: nowrap;
  gap: 5px;
}
.seccion-ultimas-noticias .ultimas-noticias .article-box-outer {
  width: 370px;
  display: inline-block;
}
.seccion-ultimas-noticias .ultimas-noticias .article-box-outer a {
  position: relative;
  color: #edf2f4;
}
.seccion-ultimas-noticias .ultimas-noticias .article-box-outer a h3 {
  position: relative;
  display: inline;
  background-color: #2b2d42;
  width: 100%;
  padding: 0 10px;
  top: -50px;
}
.seccion-ultimas-noticias .ultimas-noticias .article-box-outer .article-box-inner {
  width: 100%;
  height: 250px;
}
.seccion-ultimas-noticias .ultimas-noticias .article-box-outer .article-box-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.seccion-ultimas-noticias .ultimas-noticias .article-box-outer .article-box-inner img.simmons {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0px 0px;
}
.seccion-ultimas-noticias .ultimas-noticias .article-box-outer .article-box-inner .copyright {
  position: relative;
  font-size: 0.6rem;
  bottom: 10px;
}

@media (min-width: 1200px) {
  .contenedor-seccion-noticias {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 20px;
  }
  .contenedor-seccion-noticias .main__noticia {
    padding-top: 0;
    grid-column: 1/2;
  }
  .contenedor-seccion-noticias .main__noticia article figure {
    height: 400px;
  }
  .contenedor-seccion-noticias .main__noticia article figure img {
    object-fit: cover;
    height: 100%;
    object-position: 0 0;
  }
  .contenedor-seccion-noticias .seccion-ultimas-noticias {
    grid-column: 2/3;
  }
  .contenedor-seccion-noticias .seccion-ultimas-noticias h2 {
    border-bottom: none;
  }
  .contenedor-seccion-noticias .seccion-ultimas-noticias .ultimas-noticias {
    overflow-x: hidden;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
  .contenedor-seccion-noticias .seccion-ultimas-noticias .ultimas-noticias .article-box-outer {
    width: 100%;
  }
}
/* --------ANIMACION PELOTA GIRATORIA FOOTER-------- */
@keyframes pelota-logo {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
/* --------ANIMACION PELOTA MENU MOBILE-------- */
@keyframes pelota-menu {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(450px);
  }
}

/*# sourceMappingURL=styles.css.map */
