/* --------RESETEO CSS-------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto condensed", sans-serif;
    
}
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

p:not(.copyright){
    font-size: 1.3rem;
    line-height: 2rem;
}

// Variables

/*Paleta de colores*/
$primary-color : #d90429;
$primary-color-variant: #ef233c;
$secondary-color: #2b2d42;
$secondary-color-variant: #14151e;
$accent-color: #edf2f4;
