.main__noticia{
    display: flex;
    flex-direction: column;
    padding: 1em;

    article{
        display: flex;
        flex-direction: column;

        figure{
            position: relative;
        }

        img{
            width: 100%;
        }

        p:not(.copyright){
            padding: 1.5em 0;
        }

        h3{
            padding: 1em 0;
        }
    }
}

@media (min-width: 600px) and (max-width: 1199px){
    .main__noticia article figure{
        width: 300px;
    }
}

@media (min-width: 1200px) {
    .main__noticia article figure{
        width: 600px;
    }
}

.seccion-ultimas-noticias{
    h2{
        text-align: center;
        border-bottom: 2px solid $primary-color;
        margin-bottom: 10px;
    }

    .ultimas-noticias{
        display: flex;
        width: 100%;
        padding: 0 10px;
        justify-content: start;
        align-items: start;
        overflow-x: scroll;
        white-space: nowrap;
        gap: 5px;
        .article-box-outer{
            width: 370px;
            display: inline-block;
            a{
                position: relative;
                color: $accent-color;
                h3{
                    position: relative;
                    display: inline;
                    background-color: $secondary-color;
                    width: 100%;
                    padding: 0 10px;
                    top: -50px;
                }
            }
             
            .article-box-inner{
                width: 100%;
                height: 250px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                img.simmons{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 0px 0px;
                }
                .copyright{
                    position: relative;
                    font-size: 0.6rem;
                    bottom: 10px;
                }
            }
        }
    }
}

