.about-form{
    margin-bottom: 8em;

    p{
        padding: 0.5em 1em;
    }
}

.formulario{

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    
        fieldset{
            width: 100%;
            display: flex;
            border: none;
            justify-content: space-between;
            padding: 1em;
        }
    }

    input{
        width: 200px;
        text-align: right;
        
    }
}

.submit input{
    width: 100%;
    text-align: center;
    background-color: $secondary-color;
    color: $accent-color;
    border: 1px solid $primary-color;
    
    &:hover{
        background-color: $secondary-color-variant;
    }
}

.text-area textarea{
    width: 100%;
    resize: none;
}
.asunto select{
    width: 200px;
    text-align: right;
}

/* --------TABLETS-------- */

@media (min-width: 600px) and (max-width: 1199px){
    .formulario form fieldset{
        width: 55%;
    }
}

/* --------DESKTOP-------- */

@media (min-width: 1200px){
    .formulario form fieldset{
        width: 30%;
    }
}