/* --------ANIMACION PELOTA GIRATORIA FOOTER-------- */
@keyframes pelota-logo{
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}

/* --------ANIMACION PELOTA MENU MOBILE-------- */

@keyframes pelota-menu{
    0%{
        transform: translateY(0px);
        
    }

    25%{
        transform: translateY(5px);
    }

   

    100%{
        transform: translateY(450px);
        
    }
}