/* --------INFO SECCION-------- */
.about{
    height: 80px;
    margin-top: 150px;

    h2, p{
        text-align: center;
    }

    &-form{
        height: 200px;
        margin-top: 150px;
        margin-bottom: 20px;

        h2, p{
            text-align: center;
        }
    }
    
}

/* --------DIVISOR-------- */
.separador{
    position: relative;
    width: 50%;
    left: 25%;
    border-bottom: 2px solid $primary-color;
    margin-bottom: 50px;
    margin-top: 50px;
}