.about{
    height: 80px;
    margin-top: 150px;

    h2, p{
        text-align: center;
    }

    &-form{
        height: 125px;
        margin-top: 150px;

        h2, p{
            text-align: center;
        }
    }
    
}

.separador{
    position: relative;
    width: 50%;
    left: 25%;
    border-bottom: 2px solid #d90429;
    margin-bottom: 50px;
    margin-top: 50px;
}